.card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border: 0.1em solid rgb(45, 118, 151);
  border-radius: 20px;
  width: 14em;
  height: 95%;
}

.text {
  font-size: 1em;
  color: rgb(45, 118, 151);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#image {
  width: 90%;
  border-radius: 10px;
}

#name {
  font-size: 2em;
  font-style: italic;
}

#buy {
  background-color: transparent;
  border: 0.1em solid rgb(45, 118, 151);
  border-radius: 8px;
  transition: 0.2s ease-in-out;
}

#buy:hover {
  background-color: rgb(45, 118, 151);
  color: white;
}
